@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
     font-family: "Roboto", sans-serif;
    margin: 200px ;
    padding: 20px;
    background-color: blueviolet;
    
font-size: medium;
}
div{
background-color: rgb(0, 255, 200);
border: 2px solid black;
border-radius: 10px;
text-align:center

}
.bart{
background-color: rgb(0, 192, 226);
padding: 5px ;
border-radius: 10px;
margin: 5px;
}
 
.objt{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 459px;
    right: 250px;

    
}

.pi{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 168px;
    right: 550px;

    
}

.ni{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 368px;
    left: 250px;

    
}


    






